.card {
  display: flex;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  width: 335px;
  height: 100px;
  padding: 20px;
  background-color: white;
  gap: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card h2 {
  font-size: 15px;
  font-weight: bold;
}

.card p {
  font-size: 10px;
}

.titulo {
  display: flex;
  flex-direction: column;
}

.estoque {
  display: flex;
  flex-direction: column;
}

.estoque p {
  font-size: 12px;
  font-weight: bold;
}
